.checkbtn{
    font-size: 20px;
    border-radius: 5px;
    margin-right: 20px;
    display: none;
}
#check{
    display: none;
}
@media(max-width:576px){
    .navlinks{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        display: none;
        height: 300px;
        margin-top: 350px;
        background-color:aqua;
    }
    .navlinks li{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .navlinls li :hover{
        background-color:bisque;
    }
    .checkbtn{
        display: block;
    }
    #check:checked~.navlinks{
        display: flex;
    }
    .section7{
        flex-direction:column;
        display: flex;
    }
    .section1 {
        display: flex;
        flex-direction: column;
    }
    .section1 .para{
width: 100%;
    }
    .section3 .boxcontainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section4 .boxcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section5 .boxcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .section2 .box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
}